@media only screen and (min-width: 786px) {

  .Wrapper {
    display: inline-block;
    position: relative;
    margin: 0 0 auto;
  }

.App {
  background-image: url("../pics/newspaper.jpg");
  padding-top: 80px; 
  min-height: 1200px;
  display: flex;
  flex-direction: column;
}

.Content {
  padding: 20px;
  background-color: white;
  max-width: 95%;
  margin: 0 auto;
  border-radius: 20px;
  height: auto;
}

.Footer {
  width: 100%;
  bottom: 0px;
  background-color: rgb(34, 34, 34);
  height: 100px;
  z-index: 14000;
  position:absolute;
  text-align: center;
}

.Tabs {
  width: 100%;
}

.TabText {
  color: rgb(78, 78, 78);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}


.Navbar {
  opacity: 0.9;
  position: fixed;
  width: 100%;
  top: 0px;  
  min-height:50px;
  background-color: rgb(61, 70, 60);
  z-index: 15000;
}

.Nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Site-Title {
  font-size: 1.57em;
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  margin-left: 15px;
}

}