.App {
  background-image: url("../pics/newspaper.jpg");
  padding-top: 80px; 
  min-height: 1000px;
  position: relative;
}

.button3 {
  border-radius: 12px;
  background-color: rgb(250, 93, 50); /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;  
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button3:hover {
    background-color: rgb(6, 156, 6);
    color: white;
}

.Content {
  background-color: white;
  max-width: 95%;
  margin: auto;
  border-radius: 20px;
}

.Lists {
  padding: 40px;
}

.Navbar {
  opacity: 0.9;
  position: fixed;
  width: 100%;
  top: 0px;  
  min-height:50px;
  background-color: rgb(61, 70, 60);
  z-index: 15000;
}

.Nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Nav-li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}

.Site-Title {
  font-size: 1.57em;
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  margin-left: 15px;
}

.BottomBar {
  width: 100%;
  bottom: 0px;
  background-color: rgb(34, 34, 34);
  height: 8%;
  z-index: 14000;
  position:absolute;
}
