
.LN-a{
    color: rgb(56, 55, 55);
}

.LN-a:link {
    text-decoration: none;
}

.LN-a:visited {
    text-decoration: none;
}

.LN-a:hover {
    text-decoration: underline;
}

.LN-a:active {
    text-decoration: underline;
}

.Logo {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 40px;
}

ol {
    margin: 0;
    padding: 0;
}

.LN-li{
    margin: 10px 0;
    font-family: "Times New Roman", Times, serif;	
    font-size: 110%;
  }

.Title{
    font-family: "Lucida Console", Monaco, monospace;
    color: rgb(73, 73, 73);
    text-decoration: underline;
}

.NewsList {
    margin-bottom: 1cm;
}