@media only screen and (min-width: 786px) {

.ln-wrapper {
    max-width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 1.5%;
}


.Logo {
    height: auto; 
    width: auto; 
    max-width: 120px; 
    max-height: 24px;
}


.NewsList {
    margin-bottom: 1cm;
}

.ln-a{
    color: rgb(56, 55, 55);
}

.ln-a:link {
    text-decoration: none;
}

.ln-a:visited {
    text-decoration: none;
}

.ln-a:hover {
    text-decoration: underline;
}

.ln-a:active {
    text-decoration: underline;
}

}