.panel-list {
  padding: 40px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  opacity: 0.97;
  background-color: rgb(20, 197, 29);
  height: 30px;
  padding: 20px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
