.Lists {
  padding: 40px;
}

.Navbar {
  position: fixed;
  width: 100%;
}

.Navbar {
  opacity: 0.95;
}

.Nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(29, 202, 44);
}

.Nav-li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}

.Site-Title {
  font-size: 1.5em;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin-left: 15px;
}
