a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

ol {
    margin: 0;
    padding: 0;
}

li{
    margin: 10px 0;
    font-family: "Times New Roman", Times, serif;	
    font-size: 110%;
  }

.Title{
    font-family: "Lucida Console", Monaco, monospace;
}